/* ハンバーガーメニュー */
.hamburger-menu,
.hamburger-menu2 {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 30px;
}
.hamburger-menu--bar,
.hamburger-menu2--bar--middle{
  width: 100%;
  height: 10%;
  background-color: black;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.hamburger-menu2--bar{
  display: block;
  position: absolute;
}
.hamburger-menu2--bar--middle{
  top: 50%;
  transform: translate(0,-50%);
}
.hamburger-menu--bar:nth-child(1) {
  top: 0%;
}
.hamburger-menu--bar:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.hamburger-menu--bar:nth-child(3) {
  bottom: 0;
}
.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}
.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}

.hamburger-menu2--bar:before,
.hamburger-menu2--bar:after {
  content: "";
  width: 100px;
  height: 10px;
  background-color: black;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.hamburger-menu2--bar::before {
  margin-top:-50px;
}
.hamburger-menu2--bar {
  top: 50%;
}
.hamburger-menu2--bar::after {
  margin-top: 40px;
}

.hamburger-menu2--bar.active {

}
.hamburger-menu2--bar.active:before {
  content: "";
  margin-top: 0;
  transform:rotate(45deg);
}
.hamburger-menu2--bar.active:after {
  content: "";
  margin-top: 0;
  transform:rotate(-45deg);
} 
.hamburger-menu2--bar--middle.active{
  opacity: 0;
}

/* ドロワーメニュー */

/* .menu-hb{
  width: 100px;
  height: 100px;
  background-color: #eee;
}

.menu-hb span:nth-child(1),
.menu-hb span:nth-child(2),
.menu-hb span:nth-child(3){
  display: block;
  width: 100%;
  height: 10%;
  background-color: #000;
  border-radius: 15px;
}