.hamburger-menu{
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}
.hamburger-menu--bar{
  width: 100%;
  height: 10%;
  background-color: black;
  display: block;
  position: absolute;
}
.hamburger-menu--bar:nth-child(1){
  top: 0%;
}
.hamburger-menu--bar:nth-child(2){
  top: 50%;
  transform: translate(0,-50%);
}
.hamburger-menu--bar:nth-child(3){
  bottom: 0;
}
.hamburger-menu--bar.active:nth-child(1){
  top: 50%;
  transform: translate(0,-50%) rotate(45deg);
}
.hamburger-menu--bar.active:nth-child(2){
  opacity: 0;
}
.hamburger-menu--bar.active:nth-child(3){
  top: 50%;
  transform: translate(0,-50%) rotate(-45deg);
}