.hamburger-menu,
.hamburger-menu2 {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 30px;
}
.hamburger-menu--bar,
.hamburger-menu2--bar {
  width: 100%;
  height: 10%;
  background-color: black;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.hamburger-menu--bar:nth-child(1) {
  top: 0%;
}
.hamburger-menu--bar:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.hamburger-menu--bar:nth-child(3) {
  bottom: 0;
}
.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}
.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}

.hamburger-menu2--bar:before,
.hamburger-menu2--bar:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  position: absolute;
}
.hamburger-menu2--bar::before {
  top: -450%;
}
.hamburger-menu2--bar {
  top: 50%;
  transform: translate(0, -50%);
}
.hamburger-menu2--bar::after {
  bottom: -450%;
}

.hamburger-menu2--bar.active {
  opacity: 0;
}
.hamburger-menu2--bar.active:before {
  content: "";
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  opacity: 1;
}
.hamburger-menu2--bar.active:after {
  content: "";
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  opacity: 1;
}
